@import '~normalize.css' ;
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;500;600&display=swap');
*, *:after, *:before {
    box-sizing: border-box;
}

body {
    position: relative;
    font-family: 'Josefin Sans', sans-serif;
    background: var(#{--body-background-default});
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 20px;
    
    .title {
        font-color: var(#{--title-color-default});
    }
}